extends layout

block content
  h1= title
  p before processing
  img(src='http://henryworld.ipdisk.co.kr:80/publist/HDD1/sharing/test.gif') 
  p After processing
  img(src='http://henryworld.ipdisk.co.kr:80/publist/HDD1/sharing/test.gif')  
